# IDEs
.vs/
.idea/
*.user
*.suo
*.sln.docstates

# Build results
bin/
obj/
TestResults/
*.log
*.dll
*.exe
*.pdb

# Rider
*.iml
.idea/

# OS
.DS_Store
Thumbs.db

# dotCover / coverage tools
*.coverage
*.coveragexml

# NuGet
*.nupkg
.nuget/

# Other cache
*.db
